@font-face{
    src: url(../font/LobsterTwo-BoldItalic.ttf);
    font-family: lobster;
}
.home{
    background-image: url(../images/piri.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a:hover{
    background-color: green;
}
.topnav{
    background-color: black;
     padding: 20px ;
     
}
a{
    padding: 0px 40px;
    font-size: 30px;
  
    font-family: lobster;
}
h1{
    text-align: center;
    color: blue;
    font-size: 40px;
}
h2{
    text-align: center;
    color: blue;
    font-size: 40px;
}
h3{
    text-align: center;
    color: blue;
    font-size: 40px;
}
p{
    text-align: center;
    font-size: 20px;
    color: blueviolet;
}
#lucy{
    padding-top: 3%;
}
.menu{
    background-color: ivory;
    
}
.orders{
    background-color: ivory;
    padding: 0px 250px 0px 250px;
} 